<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
<style>
  ul {
    list-style-type: none;
}
.result{
  margin-left: 2%;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(37, 132, 234);
  width: 100%;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}
a#less {
  display: none;

}
.subtitle{
  margin-left: 23%;
  display: list-item;
}

.color:hover{
  color: black;
  text-decoration: none;
  
}
.color {
  color: black;
  text-decoration: none;
  
}
.info{
  display: block;
  max-width:150px;
  max-height:100px;
  width: auto;
  height: auto;
  display:inline-block;
}
.lessButton:hover{
  cursor: pointer;
}
.lessButton{
  margin-left: 23%;
}
</style>
<script>
  function show(button){
    var parent = button.parentElement;
    for (let index = 0; index < parent.children.length; index++) {
      var element = parent.children[index];
      if(element.id == "more"){
        element.id = "less"
      }else if(element.id == "less"){
        element.id = "more"
      }
    }
    if(button.innerHTML == "more"){
      button.innerHTML = "less"
    }else{
      button.innerHTML = "more"
    }

  }



</script>
<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <a href="/">Back</a>
    <h2>Results</h2>
    <div id="scroll" class="scroll" style="width:100%;height:100%;">
      <ul>
        <% for (var i = 0; i < results.length; i++) {%>
          <li  style="margin-top: 5%">
            <a  class="result color" href="/media/<%= results[i].media._id%>" width="100%"> 
              <div>
                <object class="info" data="/images/<%= results[i].media.thumbnail%>" type="image/png" >
                  <img class="info" src="/images/default.jpg" >
                </object>
                <div class="result" > <%= results[i].media.title%></div>
              </div>
            </a>

            
            <% var tempid = "" %>
            <% for (var t = 0; t < results[i].subtitles.length; t++) { %>
              <% if( t < 8){ %>
                <% tempid = "shown" %>
                <% } else{ %>  
                  <% tempid = "less" %>
                  <% } %> 
                  <a class="subtitle color" id="<%= tempid %>"  href="/media/<%= results[i].media._id%>?t=<%= results[i].subtitles[t].start /1000%>"> 
                    <%= new Date(results[i].subtitles[t].start).toISOString().substring(11, 19) %>  : <%=results[i].subtitles[t].text%>
                  </a>     
                  <% } %>
            <% if(results[i].subtitles.length > 8){ %>
            <a class="lessButton" onclick="show(this)">more</a>
            <% } %>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
